/*  your css code here. If applicable */
.container {
  margin: 40px;
}

.square {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  background-color: #E6E6FA; /* Lavender */
  cursor: pointer;
}
